@import "../css/normalize.css";
@import "./vars";
@import "./my-mixins";
@import "fontawesome";
@import "regular";
@import "brands";
@import "solid";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');


html {
  @include box-sizing(border-box);
}

ul {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  @include box-sizing(inherit);
  list-style-type: none;
  margin: 0;
  padding: 0;

}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
}

.main-screen {
  @include links;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $accent-color;
  margin-bottom: 30px;

  .link-down {
    font-size: 32px;
    align-self: center;
  }
}







