@import "../css/normalize.css";
@import "fonts";
@import "./vars";
@import "./my-mixins";
@import "fontawesome";
@import "regular";
@import "brands";
@import "solid";


html {
  @include box-sizing(border-box);
}

body {
  min-width: 320px;
}

*, *::after, *::before {
  @include box-sizing(inherit);
  list-style-type: none;
  margin: 0;
  padding: 0;
}








