@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";


.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__wrapper-img {
    width: 104px;
    height: 104px;
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__name {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 6px;
  }

  &__position {
    font-size: 16px;
    line-height: 20px;
    color: $secondary-color-font;
    margin-bottom: 24px;
  }

  &__desc {
    position: relative;
    max-width: 535px;
    font-size: 20px;
    line-height: 24px;
    color: $secondary-color-font;

    .quote-left {
      display: none;
    }

    .quote-right {
      display: none;
    }

    @media (min-width: 640px) {
      .quote-left {
        display: inline-block;
        position: absolute;
        left: -30px;
      }

      .quote-right {
        display: inline-block;
        position: absolute;
        right: -30px;
      }
    }
  }
}



