@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";

.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;

  &__wrapper-img {
    width: 100px;
    height: 100px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $bg-item-color;
    font-size: 35px;

    &--reverse {
      background-color: $primary-color-font;
      color: #fff;
    }
  }

  &__wrapper-text {
    margin-bottom: 45px;
  }

  &__title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  &__desc {
    max-width: 200px;
    font-size: 14px;
    line-height: 24px;
    color: $secondary-color-font;
    text-align: center;
  }


}