@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";


.pricing {
  max-width: 744px;
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 83px 40px;

  @media (max-width: 944px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

}


.pricing-card {
  max-width: 170px;
  margin: 0 auto;

  &__wrapper-img {
    width: 100px;
    height: 100px;
    margin: 0 auto 24px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $bg-item-color;

    &--reverse {
      background-color: $primary-color-font;
      color: #fff;
    }
  }

  &__wrapper-text {
    margin-bottom: 35px;
  }

  &__title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 14px;
  }

  &__desc {
    font-size: 14px;
    line-height: 24px;
    color: $secondary-color-font;
    text-align: center;
  }


}