@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__value {
    margin-bottom: 6px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__line {
    margin-bottom: 6px;
    width: 50px;
    height: 2px;
    background-color: $primary-color-font;
  }

  &__period {
    margin-bottom: 20px;
    font-size: 16px;
    color: $secondary-color-font;
  }
}

