@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";


.header {
  @include links;
  width: 100%;
  display: flex;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
  justify-content: space-between;
  align-items: center;
  height: 100px;


  &__menu {
    @media screen and (max-width: 768px) {
      display: none;
    }
    display: block;
    width: 126px;
    font-size: 22px;
  }


  &__social {
    @media screen and (max-width: 768px) {
      display: none;
    }
    display: flex;
    width: 126px;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    font-size: 22px;
  }
}
