@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";


/*@media screen and (max-width: 720px) {

 .header {
    @include links;
    max-width: 1000px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    &__menu {
      display: none;
    }

    &__social {
      display: none;
    }
  }
}*/

.header {
  @include links;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  &__menu {
    width: 130px;
    font-size: 22px;
  }

  &__social {
    display: flex;
    width: 130px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    font-size: 22px;
  }
}
