@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";


.header {
  @include links;
  width: 100%;
  display: flex;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
  justify-content: space-between;
  align-items: center;
  height: 100px;


  &__menu {
    @media screen and (max-width: 768px) {
      display: none;
    }
    display: block;
    width: 126px;
    margin-left: 8px;
    font-size: 22px;
  }

  &__logo {

  }


  &__social {
    @media screen and (max-width: 768px) {
      display: none;
    }
    display: flex;
    width: 126px;

    align-items: center;
    justify-content: space-between;
  }

  &__item {
    font-size: 22px;
  }
}

@media screen and (min-width: 1400px) {
  .header {
    &__logo-link {
      margin-right: 15px;
    }
  }

}
