@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";

.wrapper {
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
}