@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";

.form {
  margin: 0 auto;
  max-width: 480px;
  text-align: center;

  &__email, &__name, &__message {
    width: 100%;
    height: 55px;
    padding: 10px 12px;
    margin-bottom: 25px;
    border: 2px solid #000;
    font-size: 16px;
    line-height: 20px;
  }

  &__name {
    margin-bottom: 22px;
  }

  &__message {
    height: 207px;
    margin-bottom: 21px;
    padding: 13px;
  }
}