@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";

.start-screen {
  @include links;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $accent-color;
  margin-bottom: 108px;

  .link-down {
    font-size: 32px;
    margin-bottom: 53px;
  }
}

@media screen and (min-width: 1400px) {
  .start-screen {
    height: 828px;
  }

  .link-down {
    margin-right: 17px;
  }
}