@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";

.start-screen {
  @include links;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $accent-color;
  margin-bottom: 30px;

  .link-down {
    font-size: 32px;
    margin-bottom: 30px;
  }
}