@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";

.promo {
  @include links;
  background-color: $accent-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__title {
    max-width: 500px;
    min-height: 55px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }

  &__desc {
    max-width: 492px;
    min-width: 75px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}