@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";

.promo {
  @include links;
  max-width: 500px;
  height: 235px;
  margin: 0 auto;
  text-align: center;
  background-color: $accent-color;

  &__title {
    max-width: 510px;
    min-height: 55px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 18px;
  }

  &__desc {
    max-width: 492px;
    min-width: 75px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &__button {
    margin-right: 22px;
  }
}

@media screen and (min-width: 1400px) {
  .promo {
    &__title {
      margin-right: 4px;
    }

    &__desc {
      margin-right: 14px;
    }

    &__button {

    }
  }
}