@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";



.team {

  &__desc {
    margin-bottom: 75px;
  }

  &__content {
    max-width: 860px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 70px;

    @media (max-width: 1000px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}


.person-card {
  @include links;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper-img {
    width: 128px;
    height: 128px;
    margin-bottom: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__name {
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 6px;
  }


  &__position {
    color: $secondary-color-font;
    margin-bottom: 12px;
  }

  &__desc {
    width: 165px;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 18px;
  }

  &__social {
    display: flex;
    width: 62px;
    height: 14px;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
  }
}