@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";


.features__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 83px 40px;

  @media (max-width: 944px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

}

.feature-card {
  width: 268px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  text-align: left;


  &__wrapper-img {
    width: 44px;
    display: flex;
    justify-content: center;
  }


  &__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  &__desc {
    width: 200px;
    font-size: 16px;
    line-height: 20px;
  }
}




