@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";

.feature-card {
  width: 268px;
  height: 116px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  text-align: left;


  &__wrapper-img {
    width: 40px;
    padding: 3px 5px 0 0;
    display: flex;
    justify-content: center;

    font-size: 38px;
    margin-right: 28px;
  }


  &__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  &__desc {
    width: 200px;
    font-size: 16px;
    line-height: 20px;
  }
}



