@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";

.features-card {
  max-width: 300px;
  display: flex;
  margin-bottom: 30px;


  &__wrapper-img {
    width: 50px;

    display: flex;
    justify-content: center;

    font-size: 50px;
    margin-right: 30px;
  }


  &__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  &__desc {
    max-width: 220px;
    font-size: 16px;
    line-height: 20px;
  }
}



