@import "../css/normalize.css", 'vars', 'fonts';
@import "../../fonts/scss/fontawesome";
@import "../../fonts/scss/brands";
@import "../../fonts/scss/solid";

@mixin box-sizing($prop) {
  -webkit-box-sizing: $prop;
  -moz-box-sizing: $prop;
  box-sizing: $prop;
}

html {
  @include box-sizing(border-box)
}

*, *::after, *::before {
  @include box-sizing(inherit)
}

a {
  &:visited {
    color: $font-color;
  }
}




body {
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  padding: 0 20px;
}

.header {
  background-color: $accent;
  &__inner {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.fa-bars {
  width: 19px;
}



