@import "../../scss/vars";
@import "../../scss/fonts";
@import "../../scss/my-mixins";
@import "../../scss/style";


.stats {

  margin-bottom: 208px;

  &__desc {
    margin-bottom: 50px;
  }

  &__content {
    max-width: 580px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 50px;

    @media (max-width: 1000px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}

.stats-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;

  &__wrapper-img {
    font-size: 46px;
    margin-bottom: 10px;
  }

  &__value {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }

  &__key {
    font-size: 14px;
    line-height: 16px;
    color: $secondary-color-font;
  }

}